<div id="comment-display">
  <div class="complete-comment">
     <div class="comment-title">
        <h5><%= comment.title.titleize %></h5>
     </div>

     <div class="comment-body">
        <h5><%= comment.body %></h5>
     </div>
     <h6 class="comment-date">Posted: <%= comment.created_at.strftime("%d %b %Y") %></h6>
  </div>
</div>
