<div id="comment-display">
  <div class="complete-comment">
     <div class="comment-title">
        <h4>title:</h4>
        <h5><%= comment.title %></h5>
     </div>

     <div class="comment-body">
        <h4>body:</h4>
        <h5><%= comment.body %></h5>
     </div>
     <h6>posted on: <%= comment.created_at %></h6>
  </div>
</div>