
<br>
<h5>Found a great product at <%=@store.name%>? Let us know below:</h5><br>
 <div id="comment-link">
  <h5><%= link_to 'Write a Comment', "/stores/#{@store.yelp_id}/comments/new" %></h5>
</div>

<section id="comments">
  <% @comments.each do |comment| %>
    <%= render template:'comments/_comments_display', layout: false, locals: {comment: comment } %>
  <% end %>
</section>

