

<div id="comment-link">
  <%= link_to 'Write a Comment', "/stores/#{@store.yelp_id}/comments/new" %>
</div>

 Found a great product at <%=@store.name%>? Let us know below:
</section>
<section id="comments">
  <% @comments.each do |comment| %>
    <%= render template:'comments/_comments_display', layout: false, locals: {comment: comment } %>
  <% end %>
</section>

