<div id="new-comment-form">
  <h3> Let us know what you found at </h3>
    <%= link_to "#{@store.name} Home", "/stores/#{@store.yelp_id}" %>!

    <%= render template: '/comments/_new_comment', layout: false, locals: { comment: @comment, store: @store }  %>
</div>
