Let us know what you found!

  <div>
    <%= link_to "#{@store.name} Home", "/stores/#{@store.yelp_id}" %>
  </div>

  <div id="new-comment-form">
    <%= render partial: '/comments/new_comment'  %>
  </div>
