<!DOCTYPE html>
<html>
  <head>
    

  </head>
  <body>
    <div id="map_canvas"></div>
    <div id="control_container"></div>

    <div id="map_search">
      <form>
        <input type="text" name="term" id="search-term", placeholder="Food Search">
        <input type="text" name="location" placeholder="Location Search" id="search-location">
        <input type="hidden" name="category_filter" value="Food" id="search-term">
        <a href="/" id="map_search_submit">Search</a>
      </form>

      <br>
      <div id="results"></div>
      <br>
      <hr>

      <div id="contentFooter">
        
      </div>
    </div>
  </body>
</html>
