
    <div class="small-11 columns" class="map" id="map_canvas">
      <div id="control_container"></div>
    </div>

    <div class="medium-10 columns" id="map_search">
      <form class='form'>
        <input type="text" name="term" id="search-term", placeholder="Food Search">
        <input type="text" name="location" placeholder="Location Search" id="search-location">
        <input type="hidden" name="category_filter" value="Food" id="search-term">
        <input type="submit" id="map_search_submit" value="submit">
      </form>

     
      <div class="medium-6 columns" id="results"></div>
    
    
    </div>

