
    <div class="row height">
      <div class="map-container">
        <div class="small-10 columns small-offset-1" id="map_canvas" style="height: 400px"></div>
      </div>
    </div>
    <div id="control_container"></div>

    <div class="large-10 small-6 columns offset-1" id="map_search">
      <div class="row collapse has-form">
        <form class='form'>
          <div class="large-4 small-4 columns">
            <input type="text" name="term" id="search-term", placeholder="Food Search">
          <div class="large-4 small-4 columns">
            <input type="text" name="location" placeholder="Location Search" id="search-location">
            <input type="hidden" name="category_filter" value="Food" id="search-term">
          </div>
          <div class="large-4 small-2 columns">
            <input type="submit" id="map_search_submit" value="submit" class="button">
          </div>
        </form>
      </div>
    </div>
      <div id="index-icons">
      <a href="/lists/2"><img src="https://upload.wikimedia.org/wikipedia/en/5/56/Flag_of_City_of_London.png" alt="City of London" height="100" width="100"></a>

      <a href="/lists/3"><img src="https://en.wikipedia.org/wiki/Coat_of_arms_of_New_York#/media/File:Flag_of_New_York.svg" height="100" width="100"></a>
      </div>
      <div class="medium-6 columns" id="results"></div>




