
    <div class="row height">

        <div id="map_canvas" style="height: 400px"></div>

    </div>
    <div id="control_container"></div>

    <div class="small-6 columns" id="map_search">
      <div class="row">
        <form class='form'>
          <input type="text" name="term" id="search-term", placeholder="Food Search">
          <input type="text" name="location" placeholder="Location Search" id="search-location">
          <input type="hidden" name="category_filter" value="Food" id="search-term">
          <input type="submit" id="map_search_submit" value="submit">
        </form>
      </div>
    </div>

      <div class="medium-6 columns" id="results"></div>




