<div class="large-8 columns offset-1 has-form" id="tags">
  <form class='form'>
	<%= form_for (store_tag) do |f| %>
		<div class="large-4 small-4 columns">
		  <input type="text" id="new_tag_name" name="name" placeholder="Tag it!">
		  <input type="hidden" name="store_id" value="<%=store.id%>">
		  </div>
		<div class="large-4 small-4 columns">
		    <%= f.submit "Add tag for this business!",  class: "button medium radius"%>
		  </div>
	<% end %>
	</form>
</div>