<%= form_for (store_tag) do |f| %>
  <input type="text" id="new_tag_name" name="name" placeholder="Name">

  <input type="hidden" name="store_id" value="<%=store.id%>">

  <div class="actions">
    <%= f.submit "Add tag to this business"%>
  </div>
<% end %>
