<div class="large-8 columns offset-1 has-form" id="tags">
  <form action="/store_tags" method="post">
	<%= form_for (store_tag) do |f| %>
	  <input type="text" id="new_tag_name" name="name" placeholder="Tag It!">
	  <input type="hidden" name="store_id" value="<%=store.id%>">
    <%= f.submit "Add Tag for this Business",  class: "button medium radius"%>
	<% end %>
	</form>
</div>
