<h2>All tags:</h2>

<div class="subheading" class="search-bar">
	<div class="small-4 columns">
  <form action="/tags" method="get">
    <input type="text" name="tag" placeHolder="Search A Tag">
    <input type="submit" value="Search">
  </form>
</div>


  <ul class="list">
    <%@tags.each do |tag|%>
      <li><a href="/stores/<%=tag.id%>"><%=tag.name%></a></li>
    <%end%>
  </ul>
