<form action="/tags" method="get">
  <input type="text" name="tag" placeHolder="Search A Tag">
  <input type="submit" value="Search">
</form>

<%if @stores%>
  <ul>
    <%@stores.each do |store|%>
      <li><a href="/stores/<%=store.yelp_id%>"><%=store.name%></a></li>
    <%end%>
  </ul>
<%end%>

<h2>All tags:</h2>

<ul>
  <%@tags.each do |tag|%>
    <li><a href="/stores/<%=tag.id%>"><%=tag.name%></a></li>
  <%end%>
</ul>
