<form action="/tags" method="get">
  <input type="text" name="tag" placeHolder="Search A Tag">
  <input type="submit" value="Search">
</form>

<h2>All tags:</h2>

<ul>
  <%@tags.each do |tag|%>
    <li><a href="/tags/<%=tag.id%>"><%=tag.name%></a></li>
  <%end%>
</ul>

